@import '../../../styles/vars';

.add-account {
  border-top: 1px solid $light-gray;
  padding: 2.1875rem 0;

  &--mobile {
    margin: 2.1875rem 0;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  &--sidebar {
    @media (min-width: $md-breakpoint) {
      margin: 0 -0.3125rem;
    }
  }

  &--my-accounts {
    padding: 0;
    border-top: 0;
  }
}
