@import '../../../../../styles/vars';

.currency-input {
  position: relative;

  &:after {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 1.25rem;
    transform: translateY(-50%);
    text-transform: uppercase;
    color: $dark-gray;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &--btc {
    &:after {
      content: 'btc';
    }
  }

  &--us-dollar {
    &:after {
      content: '$';
    }
  }
}
