@import 'styles/vars';

.activity-list {
  color: $base-color;
  font-size: 0.813rem;
  line-height: 1rem;
  padding: 0 1.875rem;
  flex-grow: 1;

  &__swipe-for-more {
    text-align: center;
    font-size: 0.625rem;
    line-height: 0.75rem;
    color: $dark-gray;
    padding: 0.9375rem 1.25rem;

    @media (min-width: $md-breakpoint) {
      display: none;
    }

    &-icon {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
