@import 'styles/vars';

.progress {
  text-align: center;
  list-style: none;
  margin: 2.3125rem 0 0 0;
  padding: 0;

  @media (min-width: $sm-breakpoint) {
    margin-top: 1.875rem;
  }

  &__step {
    display: inline-block;
    vertical-align: middle;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 100%;
    margin: 0 0.125rem;
    background: #eaeaea;
    cursor: pointer;
    border: 0;
    padding: 0;
    transition: background 0.15s ease-in-out;

    &--current {
      background: $base-color;
    }
  }
}
