@import 'styles/vars';

.add-account-icon {
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
  background: $light-gray;
  margin-right: 0.9375rem;
  border-radius: 100%;

  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $orange;
    width: 0.75rem;
    height: 0.75rem;
  }
}
