@import '../../../styles/vars';

.features-menu {
  display: grid;
  grid-area: features-menu;

  &--dashboard {
    @media (min-width: $md-breakpoint) {
      grid-template-columns: 15.3125rem 15.3125rem;
    }
  }

  &--sidebar {
    @media (min-width: $md-breakpoint) {
      margin: 5.375rem auto 0;
    }
  }
}
