@import 'styles/vars';

.page {
  //margin-top: 2.5rem;
  //padding: 0 1.25rem;
  max-width: calc(100vw);

  @media (min-width: $lg-breakpoint) {
    //margin-top: 3.125rem;
    padding: 0;
    //margin-left: 4rem;
    max-width: 36.25rem;
  }

  @media (min-width: $xl-breakpoint) {
    //margin-left: 14.0625rem;
  }

  &__header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
  }

  &__footer {
    position: relative;
    border-top: 1px solid #eaeaea;
    padding-top: 1.0625rem;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    padding-left: 1.5625rem;
    color: $dark-gray;
    margin: 3.125rem 0;

    &-icon {
      position: absolute;
      width: 0.75rem;
      height: 0.75rem;
      color: $dark-gray;
      top: 1.21rem;
      left: 0.5rem;
    }
  }

  img {
    margin-bottom: 2.5rem;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-bottom: 1.4375rem;
  }
}
