@import '../../../styles/vars';

.scrollbar {
  position: static !important;

  @media (min-width: $xl-breakpoint) {
    position: relative !important;
  }

  &__wrapper {
    position: static !important;

    @media (min-width: $xl-breakpoint) {
      position: absolute !important;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__scroller {
    position: static !important;

    @media (min-width: $xl-breakpoint) {
      position: absolute !important;
    }
  }

  &__track-y {
    position: absolute;
    border-radius: 0.25rem;
    width: 0.375rem;
    top: 0;
    right: 0;
    bottom: 0.625rem;
    background: #fff;
    z-index: 10;
  }

  &__thumb-y {
    background: #f4f4f4;
    cursor: pointer;
    border-radius: 0.25rem;
  }

  &__track-x,
  &__thumb-x {
    display: none;
  }

  &--activity-list {
    .scrollbar__track-y {
      right: -1.5rem;
    }
  }

  &--accounts-list {
    .scrollbar__track-y {
      right: -1.125rem;
    }
  }

  &--dropdown {
    .scrollbar__track-y {
      right: 0.3125rem;
      top: 0.1rem;
      background: none;
      bottom: 0.2rem;
    }

    .scrollbar__thumb-y {
      background: #C1C4C6;
    }
  }
}
