@import '../../../styles/vars';

.labeled-text {
  margin-bottom: 1.5625rem;
  padding-left: 1.5625rem;

  &__label {
    display: block;
    margin-bottom: 0.625rem;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: $dark-gray;
  }

  &__text {
    position: relative;
    display: block;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $base-color;
    padding: 0;
    background: none;
    border: 0;
    text-align: left;
  }

  &__copy-icon {
    position: absolute;
    background: none;
    border: 0;
    left: -1.0625rem;
    top: 0.45rem;
    padding: 0;
    color: $dark-gray;
    width: 0.75rem;
    height: 0.75rem;
  }

  &--can-copy-text {
    cursor: pointer;
  }

  &--small {
    .labeled-text__label {
      font-size: 0.75rem;
      line-height: 0.9375rem;
      margin-bottom: 0.125rem;
    }

    .labeled-text__text {
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
  }

  &--no-left-padding {
    padding-left: 0;
  }

  &--no-margin {
    margin: 0;
  }
}
