.currency {
  position: relative;
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;

  &:before {
    display: block;
    position: absolute;
    border-radius: 100%;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    content: '';
  }

  &--btc {
    background: url(../../../images/currencies-icons/btc.svg) center center no-repeat;

    &:before {
      background: #FF8A00;
    }
  }

  &--stx {
    background: url(../../../images/currencies-icons/stx.svg) center center no-repeat;

    &:before {
      background: #1313F0;
    }
  }

  &--large {
    width: 2.25rem;
    height: 2.25rem;
  }
}
