@import '../../../../styles/vars';

.accounts {
  position: relative;
  background: #fff;
  border-radius: 1.25rem;
  grid-area: accounts;
  display: flex;
  flex-direction: column;

  @media (min-width: $xl-breakpoint) {
    height: 26.875rem;
  }

  &:after {
    position: absolute;
    display: none;
    content: '';
    height: 2.625rem;
    z-index: 1;
    width: 100%;
    left: 0;
    bottom: 1.25rem;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 100%
    );
  }

  @media (min-width: $xl-breakpoint) {
    &:after {
      display: block;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3125rem 1.5625rem 1.5625rem;
  }

  &__title {
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: $dark-gray;
  }

  &__add {
    width: 2.25rem;
    height: 1.5625rem;
    border-radius: 1.6875rem;
    background: #f7f7f7;
    border: 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &-icon {
      color: $dark-gray;
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  &__list {
    flex-grow: 1;
    padding: 0 1.5625rem 1.3125rem;
    //padding: 0 0.375rem 1.3125rem 1.5625rem;

    .ScrollbarsCustom .ScrollbarsCustom-TrackY {
      z-index: 2;
    }
  }
}

.account-btn {
  border: 0;
  background: none;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0;
  margin-bottom: 1.5625rem;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $xl-breakpoint) {
    &:last-child {
      margin-bottom: 1.5625rem;
    }
  }

  &:focus {
    outline: none;
  }

  &__currency-icon {
    margin-right: 0.9375rem;
  }

  &__name {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 600;
  }

  &__balance {
    display: block;
    font-weight: 400;
    color: $dark-gray;
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }
}
