@import '../../../styles/vars';

.actions-menu {
  display: grid;
  grid-area: features-menu;

  &__item {
    display: flex;
    align-items: center;
    text-align: left;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0.875rem 1.1875rem;
    color: $text-color;
    text-decoration: none;
    border-radius: 1.25rem;
    transition: background .3s;

    &--active, &:hover {
      background: $light-gray;
    }

    &:focus {
      outline: none;
    }
  }

  &__item-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.25rem;
  }

  &__item-name {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 600;
  }

  &__item-desc {
    display: block;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    color: $dark-gray;
    font-weight: 400;
  }

  &--dashboard {
    @media (min-width: $md-breakpoint) {
      grid-template-columns: 15.3125rem 15.3125rem;
    }
  }

  &--sidebar {
    background: $light-gray;
    padding: 2.1875rem 1.25rem 0;

    .actions-menu__item {
      display: none;
    }

    .actions-menu__item--active {
      display: flex;
      background: #f1f1f1;
    }

    @media (min-width: $md-breakpoint) {
      margin: 5.375rem auto 0;
      background: none;
      padding: 0;

      .actions-menu__item {
        display: flex;

        &--active {
          background: $light-gray;
        }
      }
    }
  }

  &__mobile-close {
    display: none;
    position: absolute;
    top: 1.25rem;
    right: 0.625rem;
    z-index: 1;
  }

  &--mobile-opened {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    grid-auto-rows: minmax(min-content, max-content);

    .actions-menu__item {
      display: flex;
    }

    .actions-menu__mobile-close {
      display: block;
    }
  }
}
