@import 'styles/vars';

.account-actions {
  margin-top: 1.5625rem;

  @media (min-width: $md-breakpoint) {
    margin-top: 0;
  }

  .icon-button {
    &--active, &:hover {
      background: $gray-medium;
    }
  }
}
