//html {
//  font-size: 100%;
//
//  @media (min-width: 1600px) {
//    font-size: 140%;
//  }
//
//  @media (min-width: 2500px) {
//    font-size: 160%;
//  }
//
//  @media (min-width: 3000px) {
//    font-size: 180%;
//  }
//
//  @media (min-width: 3500px) {
//    font-size: 200%;
//  }
//
//  @media (min-width: 4000px) {
//    font-size: 220%;
//  }
//}

body {
  line-height: 1.5;
  color: $text-color;
  background: $light-gray;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  display: grid;
  grid-template-areas:
    'main'
    'sidebar';
  height: 100vh;

  @media (min-width: $xl-breakpoint) {
    grid-template-areas: 'sidebar main';
    grid-template-columns: auto 3fr;
  }

  &--features {
    grid-template-areas:
      'sidebar'
      'main';
    grid-auto-rows: minmax(min-content, max-content);

    @media (min-width: $md-breakpoint) {
      grid-template-areas: 'sidebar main';
      grid-template-columns: 1.5fr 2.5fr;
      grid-template-rows: auto;
    }

    @media (min-width: $lg-breakpoint) {
      grid-template-columns: 1fr 2fr;
    }

    @media (min-width: $xl-breakpoint) {
      grid-template-columns: auto 3fr;
    }
  }
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background: #fff;

  @media (min-width: $xl-breakpoint) {
    width: 25.625rem;
  }
}

.main {
  grid-area: main;
}

.white-block {
  background: #fff;
  border-radius: 1.25rem;
  padding: 1.5625rem;
  margin-bottom: 1.25rem;

  & > *:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $md-breakpoint) {
    margin-bottom: 3.125rem;
  }
}

.two-cols {
  @media (min-width: $sm-breakpoint) {
    display: flex;
    align-items: center;
  }

  & > * {
    flex: 50%;
  }

  &__right {
    text-align: right;
  }
}

.form-el-error {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  color: $red;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 0.0625rem;
  transition: opacity .2s ease-in-out;
}
