$text-color: #212C34;
$dark-gray: #92929D;
$light-gray: #f7f7f7;
$gray-medium: #f1f1f1;
$red: #FF0000;
$green: #1EC57F;
$orange: #FF8A00;

$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
