@import 'styles/vars';

.transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.15rem;
  padding: 0.375rem 0.625rem;
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.625rem;
  color: $base-color;
  text-decoration: none;

  &:hover, &--active {
    background-color: $light-gray;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__hash-text {
    padding-left: 0.625rem;
  }

  &__comment {
    display: block;
    color: $dark-gray;
    font-size: 0.625rem;
    line-height: 0.75rem;
    overflow: hidden;
  }

  &__amount {

  }
}
