@import '../../../../../styles/vars';

.amount {
  position: relative;

  &__send-all-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: 0;
    color: $text-color;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
  }

  &__inputs {
    border-radius: 1.25rem;
    overflow: hidden;

    @media (min-width: $sm-breakpoint) {
      display: flex;
      width: 100%;
    }
  }

  &__amount {
    border-bottom: 1px solid #fff;

    @media (min-width: $sm-breakpoint) {
      border-right: 1px solid #fff;
    }
  }

  &__amount, &__amount-in-us-dollars {
    flex: 50%;
  }
}
