@import '../../styles/vars';

.features {
  margin-top: 2.5rem;
  padding: 0 1.25rem;
  max-width: calc(100vw);

  @media (min-width: $lg-breakpoint) {
    margin-top: 3.125rem;
    padding: 0;
    margin-left: 4rem;
    max-width: 36.25rem;
  }

  @media (min-width: $xl-breakpoint) {
    margin-left: 14.0625rem;
  }
}
