@import 'styles/vars';

.modal {
  display: none;

  &--open {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 105;

    &:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: $base-color;
      opacity: 0.4;
    }
  }

  &__body {
    position: absolute;
    background: #fff;
    padding: 1.5625rem;
    border-radius: 1.25rem;
    margin-top: 2.5rem;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: calc(100% - 2.5rem);

    @media (min-width: $sm-breakpoint) {
      max-width: 25rem;
      margin: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
