@import '../../../styles/vars';

.dropdown {
  position: relative;
  background: $light-gray;
  border-radius: 0.625rem;
  font-size: 1rem;
  background: #f7f7f7;
  cursor: pointer;
  line-height: 1.5rem;

  &__value-container {
    position: relative;
    padding: 1rem 0!important;
    flex-wrap: nowrap!important;
  }

  &__menu {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.04)!important;
    background: $light-gray!important;
    border: 0!important;
    border-top: 1px solid #fff!important;
    margin: 0!important;
    padding: 0.5625rem 0 1.1rem!important;
    border-radius: 0 0 0.625rem 0.625rem!important;
    overflow: hidden;
  }

  &__option {
    padding: 0.5rem 0;
    background: $light-gray;

    &:hover {
      background: #eaeaea;
    }
  }

  &__single-value {
    margin: 0!important;
    width: 100%;
    position: static!important;
    transform: none!important;
    max-width: none!important;
    color: $text-color!important;
  }

  &__value {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-right: 3.2rem;
    padding-left: 1.25rem;


    &-account, &-label {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &-label {
      padding-left: 1rem;
      flex: 0 1 30%;
      text-align: right;
    }

    &-account {
      flex: 0 1 70%;
    }
  }

  &__trigger {
    position: absolute;
    color: $dark-gray!important;
    width: 1.5rem;
    height: 1.5rem;
    right: 0.9375rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    transition: transform .15s ease-in-out;
    transform-origin: center center;

    &--menu-open {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__placeholder {
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 0!important;
  }

  strong {
    font-weight: 600;
  }
}
