@import '../../../styles/vars';

.features-menu {
  display: grid;
  grid-area: features-menu;

  &--dashboard {
    @media (min-width: $md-breakpoint) {
      grid-template-columns: 15.3125rem 15.3125rem;
    }
  }

  &--sidebar {
    background: $light-gray;
    padding: 2.1875rem 1.25rem 0;
    justify-items: center;

    @media (min-width: $md-breakpoint) {
      margin: 5.375rem auto 0;
      background: none;
      padding: 0;

      .icon-menu-item {
        display: flex;

        &--active {
          background: $light-gray;
        }
      }
    }
  }

  &__mobile-close {
    position: absolute;
    top: 1.25rem;
    right: 0.625rem;
  }

  &__mobile-trigger {
    position: relative;
    display: flex;
    width: 100%;
    background: #f1f1f1!important;

    &-icon {
      position: absolute;
      right: 0.625rem;
      top: 50%;
      width: 1.5rem;
      height: 1.5rem;
      color: $dark-gray;
      transform: translateY(-50%);
    }
  }

  &__mobile-menu {
    display: none;
  }

  &--mobile-opened {
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    grid-auto-rows: minmax(min-content, max-content);

    .features-menu__mobile-menu {
      display: block;
      width: 100%;
    }

    .features-menu__mobile-trigger-icon {
      display: none;
    }
  }
}
