@import 'styles/vars';

.input {
  position: relative;

  &__el {
    display: block;
    background: $light-gray;
    border: 1px solid $light-gray;
    border-radius: 0.625rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $base-color;
    padding: 1rem 1.25rem;
    width: 100%;
    resize: none;
    transition: border-color 0.15s ease-in-out;

    &:focus {
      outline: none;
    }
  }

  &--has-error {
    .input__el {
      border-color: $red;
    }

    .form-el-error {
      opacity: 1;
    }
  }

  &--square-corners {
    .input__el {
      border-radius: 0;
    }
  }

  &--break-all {
    .input__el {
      word-break: break-all;
    }
  }
}
