@import 'styles/vars';

.icon-menu-item {
  display: flex;
  align-items: center;
  text-align: left;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0.875rem 1.1875rem;
  color: $text-color;
  text-decoration: none;
  border-radius: 1.25rem;
  transition: background 0.3s;
  width: 100%;

  @media (min-width: $md-breakpoint) {
    max-width: 15.3125rem;
  }

  &--active,
  &:hover {
    background: $light-gray;
  }

  &:focus {
    outline: none;
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.9375rem;
  }

  &__name {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 600;
  }

  &__desc {
    display: block;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    color: $dark-gray;
    font-weight: 400;
  }

  &--my-accounts {
    position: relative;
    background: #fff;
    max-width: none;
    transition: top 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    top: 0;

    &:hover {
      background: #fff;
      top: -0.125rem;
      box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1),
        0px 10px 10px rgba(0, 0, 0, 0.04);
    }
  }

  &--add-account {
    width: 100%;
    margin-bottom: 1.5625rem;
    cursor: pointer;
    text-decoration: none;
    max-width: none;
    color: $text-color;

    @media (min-width: $md-breakpoint) {
      margin-bottom: 0;
    }

    .icon-menu-item__name {
      display: block;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1.4375rem;
      margin-bottom: 0.0625rem;
    }

    .icon-menu-item__desc {
      font-size: 0.75rem;
      line-height: 0.9375rem;
      color: $dark-gray;
    }
  }
}
