@import 'styles/vars';

.sidebar-menu {
  display: grid;
  background: $light-gray;
  padding: 2.1875rem 1.25rem 0;
  justify-items: center;

  @media (min-width: $md-breakpoint) {
    background: none;
    padding: 0;

    .icon-button {
      display: flex;

      &--active {
        background: $light-gray;
      }
    }
  }

  &__mobile-close {
    position: absolute;
    top: 1.25rem;
    right: 0.625rem;
  }

  &__mobile-trigger {
    position: relative;
    display: flex;
    width: 100%;
    background: #f1f1f1 !important;

    &-icon {
      position: absolute;
      right: 0.625rem;
      top: 50%;
      width: 1.5rem;
      height: 1.5rem;
      color: $dark-gray;
      transform: translateY(-50%);
    }
  }

  &__mobile-menu {
    display: none;
  }

  &__item {
    position: relative;

    &-active-icon {
      position: absolute;
      right: 0.625rem;
      top: 50%;
      width: 1.5rem;
      height: 1.5rem;
      color: $dark-gray;
      transform: translateY(-50%);
    }

    @media (min-width: $lg-breakpoint) {
      min-width: 15.3125rem;
    }
  }

  &--mobile-opened {
    position: fixed;
    overflow-y: auto;
    z-index: 101;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    grid-auto-rows: minmax(min-content, max-content);

    .sidebar-menu__mobile-menu {
      display: block;
      width: 100%;
    }

    .sidebar-menu__mobile-trigger-icon {
      display: none;
    }
  }

  &--accounts-list {
    padding: 2.1875rem 1.25rem 0;

    @media (min-width: $md-breakpoint) {
      background: $light-gray;
    }

    @media (min-width: $md-breakpoint) {
      padding: 2.125rem 2.6875rem 1.125rem;
    }

    @media (min-width: $xl-breakpoint) {
      padding: 0;
      background: none;
    }
  }
}
