@import 'styles/vars';

.accounts-actions-btn {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 1.5625rem;
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: $text-color;

  &:focus {
    outline: none;
  }

  &__icon {
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
    background: $light-gray;
    margin-right: 0.9375rem;
    border-radius: 100%;

    & > svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $orange;
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  &__text {
    text-align: left;
    line-height: 1;
  }

  &__name {
    display: block;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    margin-bottom: 0.0625rem;
  }

  &__desc {
    font-size: 0.75rem;
    line-height: 0.9375rem;
    color: $dark-gray;
  }

  &--my-accounts {
    position: relative;
    background: #fff;
    max-width: none;
    transition: top 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    top: 0;
    padding: 0.875rem 0.625rem;
    border-radius: 1.25rem;
    margin-bottom: 0;

    &:hover {
      background: #fff;
      top: -0.125rem;
      box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1),
        0px 10px 10px rgba(0, 0, 0, 0.04);
    }
  }
}
