@import '../../../styles/vars';

.pg {
  text-align: center;
  margin-top: 2.3125rem;

  @media (min-width: $sm-breakpoint) {
    margin-top: 0.1875rem;
  }

  &__dot {
    display: inline-block;
    vertical-align: middle;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 100%;
    margin: 0 0.125rem;
    background: #eaeaea;
    cursor: pointer;
    border: 0;
    padding: 0;

    &--active {
      background: $text-color;
    }
  }
}
